<body>
  <br><br>
    <form name="login-form design1" class="login-form">
      <div class="header">
      <h1>Welcome to the PMS</h1>
     
      </div>
    
      <div class="content">
      <input name="username" type="text" class="input username" placeholder="Enter Username" #email/>
      <div class="user-icon"></div>
      <input name="password" type="password" class="input password" placeholder="Enter Password" #password />
      <div class="pass-icon"></div>		
      </div>
  
      <div class="footer">
      <a (click)="login(email.value,password.value)" class="button">Login</a>
      </div>
    
    </form>
    
    
  </body>